@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Raleway&family=Lato&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: Raleway, Montserrat, Helvetica, sans-serif;
}

:root {
  --yellow: #fdc300;
  --red: #9b0011;
}

::selection {
  color: #fff;
  background-color: var(--red);
}

.numbers {
  font-family: Lato, Helvetica, sans-serif;
}

body {
  background-color: #333;
  position: relative;
}

#container {
  width: 95vmin;
  position: relative;
  inset: 0;
  margin: 0 auto;
}

header {
  background-color: var(--yellow);
  padding: 16px;
  margin: 16px 0;
  border-radius: 8px;
}
header h1 {
  width: 100%;
  text-align: center;
}

section {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px 32px;
  display: flex;
  flex-direction: column;
}
section h2 {
  margin-bottom: 8px;
  text-align: center;
}

#beispiel {
  color: var(--red);
  text-decoration: underline;
  cursor: pointer;
}

#datei {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
}

#ausgewaehlt,
.button {
  align-self: center;
  width: fit-content;
}

.button {
  font-size: 20px;
  font-weight: bolder;
  color: #fff;
  background-color: var(--red);
  
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
.button::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: #fff4;
  scale: 0 1;
  transform-origin: left;
  transition: scale 200ms;
}
.button:hover::before {
  scale: 1 1;
}

#tabellenkopf {
  width: fit-content;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 8px;
}
#tabellenkopf-inp {
  height: 20px;
  aspect-ratio: 1;
}

#anzahl-inp,
#herunterladen-input {
  width: 8ch;
  padding: 2px 8px;
  font-size: 20px;
}

.button {
  border: none;
  margin-top: 8px;
}

#prog-bar {
  align-self: center;
  margin-top: 16px;
  
  --w: 90%;
  --prog: 0;
  position: relative;
  width: var(--w);
  height: 32px;
  outline: 2px solid #000;
  border-radius: 4px;
  display: flex;
  align-items: center;
}
#prog-bar-in {
  width: calc(var(--prog) * 100%);
  transition: width 200ms;
  height: 32px;
  background-color: var(--yellow);
  border-radius: 4px;
  position: absolute;
}
#prog {
  width: 100%;
  text-align: center;
  position: absolute;
}
